# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET=""

# Next Auth Discord Provider


# Prisma
# Supabase Database Credentials
# `DATABASE_URL` - Connection URI with Transaction mode
# `DIRECT_URL`   - Direct Connection URI with Session mode to bypass Supavisor. This allows Prisma CLI to make migration direct to the database
# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL="postgresql://postgres.sirbmgiodziqnouigkxe:Sanidhya@123@aws-0-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL="postgresql://postgres.sirbmgiodziqnouigkxe:Sanidhya@123@aws-0-ap-southeast-2.pooler.supabase.com:5432/postgres"

# UploadThing Token
UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlXzZiYjQ2NzlkNDU4MmMwOGE4Nzk4ZmVjODFkMGYzYzVmNGQyNDQ0ZmJjOWVkOWMyNzlhZjM5YzlhNzUyOWM1MDAiLCJhcHBJZCI6IjB2a3owaXhnYjciLCJyZWdpb25zIjpbInNlYTEiXX0='

# Admin Credentials
ADMIN_ID="ICIFestAdmin"
ADMIN_PASSWORD="UXxaqJm4Z3"

# Super Admin Credentials
SUPER_ADMIN_PASS="123456"
TESTING_SECRET="5eGW9SH4dakBXFLT2U5zDl4F8fPiAwPf"



ABC="deok"

ALLOWED_ORIGINS="https://icifest.skit.ac.in,http://localhost:3000,http://localhost:5173"
AUTH_SECRET="UXxaqJmCfaJOxDk7DBjNSt3+ytId/4Z3hp9xrZNtY40="

PERFORMANCE_CRITICAL_THRESHOLD="5000"
PERFORMANCE_LOG_LEVEL="detailed"
PERFORMANCE_MEMORY_ALERT_MB="500"
PERFORMANCE_METRICS_RETENTION="100"
PERFORMANCE_SLOW_THRESHOLD="1000"

