@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Montserrat";
}

::-webkit-scrollbar {
  width: 0;
}


.nav_font {
  font-family: "Montserrat";
}

.about_font {
  font-family: system-ui;
  font-weight: bolder;
}

.high_text {
  font-family: system-ui;
  font-weight: bolder;
  font-size: 42px;
}

.bg_div {
  position: fixed;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.scrolling {
  background-color: white;
}

.bar {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-menu {
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  color: black;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .active .bar:nth-child(2) {
    opacity: 0;
  }

  .active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #ff583e;
  }

  .active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #ff583e;
  }

  .nav-menu {
    position: fixed;
    padding: 20px 0;
    left: -100%;
    top: 120px;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    transition: all 0.3s ease-in-out;
  }

  .nav-menu.active {
    left: 0;
  }
}

.fade-in-out {
  transition: opacity 1s ease-in-out;
}

.transparent {
  opacity: 0;
}

.opaque {
  opacity: 1;
}

.nav_bg_1 {
  backdrop-filter: blur(4px);
  height: 100%;
}

.nav_bg_2 {
  background-color: white;
  height: 110px;
  top: 20px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.37);
}

.img_size_1 {
  font-weight: bold;
  font-size: 11px;
  width: 50px;
  aspect-ratio: square;
}

.img_size_2 {
  font-weight: bold;
  font-size: 11px;
  width: 50px;
  aspect-ratio: square;
}

@media screen and (max-width: 768px) {
  .img_size_1 {
    font-size: 14px;
    width: 60px;
  }

  .img_size_2 {
    font-size: 12px;
    width: 40px;
  }
}

@media screen and (max-width: 426px) {
  .img_size_1 {
    font-size: 10px;
    width: 60px;
  }

  .img_size_2 {
    font-size: 9px;
    width: 40px;
  }
}

.img_grow:hover {
  scale: 2px;
}

.swiper {
  -webkit-user-select: none;
  user-select: none;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-top: 60px;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.btn_active {
  background-color: #ff583e;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn_deactive {
  background-color: rgb(220, 220, 220);
  color: grey;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button {
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.active-div {
  display: block;
}

.deactive-div {
  display: none;
}

.team-photo {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.name_hide {
  margin-top: -50px;
}

.endLoader {
  display: none !important;
}

#loader {
  z-index: 1000;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loaderWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.about_box {
  animation: updown 18s infinite linear;
}

.about_box2 {
  animation: updown2 18s infinite linear;
}

.box1 {
  animation-delay: 1s;
  animation-duration: 10s;
}

.box2 {
  animation-duration: 8s;
}

.box3 {
  animation-delay: 3s;
}

.box4 {
  animation-duration: 20s;
}

@keyframes updown {
  from {
    border-radius: 0;
    rotate: 0;
  }

  to {
    bottom: 1000px;
    border-radius: 100px;
    rotate: 150deg;
  }
}

@keyframes updown2 {
  from {
    border-radius: 0;
    rotate: 0;
  }

  to {
    top: 1000px;
    border-radius: 100px;
    rotate: 150deg;
  }
}

.clicked {
  rotate: 180deg;
  transition: 0.5s;
}

.circle1 {
  animation: ltr 7s infinite linear;
}

@keyframes ltr {
  from {
    top: -500px;
    border-radius: 0;
    rotate: 0;
  }

  to {
    top: 120%;
    border-radius: 100%;
    rotate: 95deg;
  }
}

.swiper {
  -webkit-user-select: none;
  user-select: none;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-top: -60px;
  padding-bottom: -30px;
}

@media screen and (max-width: 424px) {
  .swiper {
    padding-bottom: 20px;
  }
}

.swiper-slide {
  text-align: center;
  background: #544f4f;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 10px;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
